# Files created by IDEs etc...
.idea/
.ipynb_checkpoints/
.vscode/
.gitignore
__pycache__/
venv/

# User files created by the program.
dataset/
saved_models/
checkpoints/
logs/

# Optional directory for personal testing.
ignore/